@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lakki+Reddy&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    background: url(img/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/* cover section start */
#cover {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-image: url(img/bg-1.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.coverTop {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}

.coverCenter {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    
}

.coverBottom {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.shapeElement {
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.watermark {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 70px;
    font-family: 'Lakki Reddy';
    pointer-events: none;
    z-index: 1;
}

.startGame {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: Translate(-50%, -50%);
    background-color: red;
    padding: 30px 120px;
    font-size:80px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 35px;
    transition: .45s;
    cursor: pointer;
    font-family: 'Irish Grover';
    color: yellow;
}

.startGame:hover {
    box-shadow: 0 0 20px #000;
}
/* cover section end */

/* main section start */
#main {
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
}

.containerMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playerPick {
    width: 500px;
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    display: inline;
    width: max-content;
    font-size: 20vh;

    background-color: #ffff;
    border-radius: 50px;
    cursor: pointer;
    transition: .25s;
}

.computerPick {
    width: 500px;
    display: flex;
    align-items: center;
}

.computerPickBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.question {
    width: 100%;
}

.hilang {
    display: none;
    transition: all .25s ease-in;
}

/* main section end */

/* final section start */
#final {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.boxModel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxElement {
    position: relative;
    height: 100px;
    width: 500px;
    background-color: #fff;
    text-align: center;
}
/* final section end */


#container {
    max-width: 100vw;
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: calc(10 * 2px) calc(10 * 2px);
  }
  
  .container-inner {
    background: #a4363e;
    padding: 40px;
    border-radius: 30px;
    width: 640px;
  }
      
  .content {
    font-family: "Skranji", cursive;
    background: radial-gradient(#fffbf3, #ffe19e);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px 18px 20px 18px;
    box-shadow: 0px 0px 0px 6px #5e1e21, 0px 0px 8px 6px #84222b,
      inset 0px 0px 15px 0px #614506, 6px 6px 1px 1px #e66565,
      -6px 6px 1px 1px #e66565;
    text-align: center;
  }
  
  h1 {
    margin-top: 60px;
    font-size: 56px;
    color: #461417;
  
  }
  
  p {
    font-size: 56px;
    padding: 40px;
    box-sizing: border-box;
    color: #461417;
  }
  
      
  .buttons {
    margin-top: 40px;
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
  }
  
  button {
    padding: 20px;
    flex: 1;
    border-radius: 20px;
    border: 2px solid #49181e;
    font-family: "Skranji", cursive;
    color: #fff;
    font-size: 32px;
    text-shadow: 1px 2px 3px #000000;
    cursor: pointer;
  }
  
  .confirm {
    background: linear-gradient(#ced869, #536d1b);
    box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565;
  }
  .confirm:hover {
    box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565,
      inset 2px 2px 10px 3px #4e6217;
  } 
  .cancel {
    background: linear-gradient(#ea7079, #891a1a);
    box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565;
  }
  
  .cancel:hover {
  box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565,
    inset 2px 2px 10px 3px #822828;
  }