@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lakki+Reddy&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    background: url(img/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}


#cover {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-image: url(img/bg-1.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.coverTop {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}

.coverCenter {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    
}

.coverBottom {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.shapeElement {
    position: absolute;
    bottom: 0;
}

.watermark {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 70px;
    font-family: 'Lakki Reddy';
    pointer-events: none;
    z-index: 1;
}

.startGame {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: Translate(-50%, -50%);
    background-color: red;
    padding: 30px 120px;
    font-size:80px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 35px;
    transition: .45s;
    cursor: pointer;
    font-family: 'Irish Grover';
    color: yellow;
}

.startGame:hover {
    box-shadow: 0 0 20px #000;
}

#main {
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
}

.containerMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playerPick {
    width: 500px;
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    display: inline;
    width: max-content;
    font-size: 20vh;

    background-color: #ffff;
    border-radius: 50px;
    cursor: pointer;
    transition: .25s;
}

.computerPick {
    width: 500px;
    display: flex;
    align-items: center;
}

.computerPickBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.question {
    width: 100%;
}

/*
.question {
    width: 420px;
}


.playerPick {
    display: inline-flex;
    gap: 10px;
    flex-direction: column;
}


.item {
    font-size: 200px;
    width: max-content;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 50px;
    cursor: pointer;
    transition: .25s;
}

.item:hover {
    box-shadow: 0 0 20px #000;
}



.hasilAkhir {
    font-size: 200px;
} */
.hilang {
    display: none;
    transition: all .25s ease-in;
}

#final {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.boxModel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxElement {
    position: relative;
    height: 100px;
    width: 500px;
    background-color: #fff;
    text-align: center;
}